USE [master]
GO
/****** Object:  Database [transportes_mana]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE DATABASE [transportes_mana]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'transportes_mana', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\transportes_mana.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'transportes_mana_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\transportes_mana_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [transportes_mana].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [transportes_mana]
GO
/****** Object:  Table [dbo].[alertas]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alertas](
	[id_alerta] [int] IDENTITY(1,1) NOT NULL,
	[enviado_por] [int] NOT NULL,
	[titulo] [nvarchar](150) NOT NULL,
	[tipo_alerta] [nvarchar](50) NOT NULL,
	[mensaje] [nvarchar](max) NOT NULL,
	[publico_destino] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asignacion_estudiantes_buseta]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asignacion_estudiantes_buseta](
	[id_asignacion] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[id_buseta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asistentes]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asistentes](
	[id_asistente] [int] NOT NULL,
	[id_buseta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asistente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bitacora_acciones]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora_acciones](
	[id_accion] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[usuario_rol] [nvarchar](100) NULL,
	[accion] [nvarchar](200) NOT NULL,
	[entidad_afectada] [nvarchar](100) NOT NULL,
	[entidad_id] [int] NULL,
	[datos_previos] [nvarchar](max) NULL,
	[datos_nuevos] [nvarchar](max) NULL,
	[ip_cliente] [nvarchar](50) NULL,
	[fecha_accion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[busetas]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[busetas](
	[id_buseta] [int] IDENTITY(1,1) NOT NULL,
	[placa] [nvarchar](20) NOT NULL,
	[capacidad] [int] NOT NULL,
	[nombre_conductor] [nvarchar](100) NULL,
	[jornada] [nvarchar](50) NULL,
	[horario_servicio] [nvarchar](100) NULL,
	[activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_buseta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[direcciones]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[direcciones](
	[id_direccion] [int] IDENTITY(1,1) NOT NULL,
	[provincia] [nvarchar](100) NULL,
	[canton] [nvarchar](100) NULL,
	[distrito] [nvarchar](100) NULL,
	[otras_senas] [nvarchar](250) NULL,
	[latitud] [decimal](10, 6) NULL,
	[longitud] [decimal](10, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[encargados_legales]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[encargados_legales](
	[id_encargado] [int] NOT NULL,
	[direccion_residencia] [nvarchar](250) NULL,
	[acepto_terminos] [bit] NULL,
	[firma_contrato] [date] NULL,
	[telefono] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_encargado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[id_estudiante] [int] NOT NULL,
	[id_encargado] [int] NOT NULL,
	[id_institucion] [int] NOT NULL,
	[seccion] [nvarchar](50) NULL,
	[id_maestra] [int] NOT NULL,
	[telefono] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horarios]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horarios](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[dia_semana] [nvarchar](20) NOT NULL,
	[hora_entrada] [time](7) NOT NULL,
	[hora_salida] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instituciones]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instituciones](
	[id_institucion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_institucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[localizaciones_busetas]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[localizaciones_busetas](
	[id_localizacion] [int] IDENTITY(1,1) NOT NULL,
	[id_viaje] [int] NOT NULL,
	[latitud] [decimal](10, 6) NOT NULL,
	[longitud] [decimal](10, 6) NOT NULL,
	[fecha_hora] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_localizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maestras]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maestras](
	[id_maestra] [int] NOT NULL,
	[id_institucion] [int] NOT NULL,
	[seccion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_maestra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paradas_ruta_casa]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paradas_ruta_casa](
	[id_parada_ruta] [int] IDENTITY(1,1) NOT NULL,
	[ruta_id] [int] NOT NULL,
	[direccion_id] [int] NOT NULL,
	[estudiante_id] [int] NOT NULL,
	[orden] [int] NOT NULL,
	[hora_aproximada] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_parada_ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paradas_ruta_institucion]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paradas_ruta_institucion](
	[id_parada_ruta] [int] IDENTITY(1,1) NOT NULL,
	[ruta_id] [int] NOT NULL,
	[direccion_id] [int] NOT NULL,
	[institucion_id] [int] NOT NULL,
	[orden] [int] NOT NULL,
	[hora_aproximada] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_parada_ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rutas]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rutas](
	[id_ruta] [int] IDENTITY(1,1) NOT NULL,
	[institucion_id] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](250) NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[hora_salida] [time](7) NOT NULL,
	[hora_llegada] [time](7) NULL,
	[dias_recorrido] [nvarchar](100) NULL,
	[activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[rol_id] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[primer_apellido] [nvarchar](100) NOT NULL,
	[segundo_apellido] [nvarchar](100) NULL,
	[correo] [nvarchar](250) NULL,
	[contrasena_hash] [nvarchar](200) NOT NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
	[activo] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[viajes]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[viajes](
	[id_viaje] [int] IDENTITY(1,1) NOT NULL,
	[ruta_id] [int] NOT NULL,
	[buseta_id] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora_salida] [time](7) NOT NULL,
	[hora_llegada] [time](7) NULL,
	[estado_viaje] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_viaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[encargados_legales] ([id_encargado], [direccion_residencia], [acepto_terminos], [firma_contrato], [telefono]) VALUES (2, N'Cartago, Barrio Centro', 1, CAST(N'2025-10-04' AS Date), N'88773045')
GO
INSERT [dbo].[estudiantes] ([id_estudiante], [id_encargado], [id_institucion], [seccion], [id_maestra], [telefono]) VALUES (3, 2, 1, N'1-1', 1, NULL)
INSERT [dbo].[estudiantes] ([id_estudiante], [id_encargado], [id_institucion], [seccion], [id_maestra], [telefono]) VALUES (4, 2, 1, N'2-3', 1, NULL)
INSERT [dbo].[estudiantes] ([id_estudiante], [id_encargado], [id_institucion], [seccion], [id_maestra], [telefono]) VALUES (5, 2, 1, N'3-3', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[instituciones] ON 

INSERT [dbo].[instituciones] ([id_institucion], [nombre]) VALUES (1, N'Escuela Fidel')
SET IDENTITY_INSERT [dbo].[instituciones] OFF
GO
INSERT [dbo].[maestras] ([id_maestra], [id_institucion], [seccion]) VALUES (1, 1, N'1-1')
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([rol_id], [nombre], [descripcion]) VALUES (1, N'Admin', N'Administrador')
INSERT [dbo].[roles] ([rol_id], [nombre], [descripcion]) VALUES (2, N'Encargado', N'Encargado legal')
INSERT [dbo].[roles] ([rol_id], [nombre], [descripcion]) VALUES (3, N'Maestra', N'Docente')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [rol_id], [nombre], [primer_apellido], [segundo_apellido], [correo], [contrasena_hash], [fecha_registro], [activo], [eliminado]) VALUES (1, 3, N'Paula', N'López', NULL, NULL, N'__dummy__', CAST(N'2025-10-04T21:44:19.8431798' AS DateTime2), 1, 0)
INSERT [dbo].[usuarios] ([id_usuario], [rol_id], [nombre], [primer_apellido], [segundo_apellido], [correo], [contrasena_hash], [fecha_registro], [activo], [eliminado]) VALUES (2, 2, N'María', N'Soto', NULL, NULL, N'__dummy__', CAST(N'2025-10-04T21:44:19.8441782' AS DateTime2), 1, 0)
INSERT [dbo].[usuarios] ([id_usuario], [rol_id], [nombre], [primer_apellido], [segundo_apellido], [correo], [contrasena_hash], [fecha_registro], [activo], [eliminado]) VALUES (3, 4, N'Camila', N'Ramírez', N'Soto', NULL, N'sin_login', CAST(N'2025-10-04T21:44:19.8441782' AS DateTime2), 0, 1)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
/****** Object:  Index [IX_alertas_enviado_por]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_alertas_enviado_por] ON [dbo].[alertas]
(
	[enviado_por] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_asignacion_id_buseta]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_asignacion_id_buseta] ON [dbo].[asignacion_estudiantes_buseta]
(
	[id_buseta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_asignacion_id_estudiante]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_asignacion_id_estudiante] ON [dbo].[asignacion_estudiantes_buseta]
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_asistentes_id_buseta]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_asistentes_id_buseta] ON [dbo].[asistentes]
(
	[id_buseta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bitacora_usuario_id]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_bitacora_usuario_id] ON [dbo].[bitacora_acciones]
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_busetas_placa]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_busetas_placa] ON [dbo].[busetas]
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_estudiantes_id_encargado]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_estudiantes_id_encargado] ON [dbo].[estudiantes]
(
	[id_encargado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_estudiantes_id_institucion]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_estudiantes_id_institucion] ON [dbo].[estudiantes]
(
	[id_institucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_estudiantes_id_maestra]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_estudiantes_id_maestra] ON [dbo].[estudiantes]
(
	[id_maestra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_horarios_id_estudiante]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_horarios_id_estudiante] ON [dbo].[horarios]
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_instituciones_nombre]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_instituciones_nombre] ON [dbo].[instituciones]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_localizaciones_id_viaje]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_localizaciones_id_viaje] ON [dbo].[localizaciones_busetas]
(
	[id_viaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_maestras_id_institucion]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_maestras_id_institucion] ON [dbo].[maestras]
(
	[id_institucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_paradas_casa_dir_id]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_paradas_casa_dir_id] ON [dbo].[paradas_ruta_casa]
(
	[direccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_paradas_casa_est_id]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_paradas_casa_est_id] ON [dbo].[paradas_ruta_casa]
(
	[estudiante_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_paradas_casa_ruta_id]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_paradas_casa_ruta_id] ON [dbo].[paradas_ruta_casa]
(
	[ruta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_paradas_inst_dir_id]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_paradas_inst_dir_id] ON [dbo].[paradas_ruta_institucion]
(
	[direccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_paradas_inst_inst_id]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_paradas_inst_inst_id] ON [dbo].[paradas_ruta_institucion]
(
	[institucion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_paradas_inst_ruta_id]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_paradas_inst_ruta_id] ON [dbo].[paradas_ruta_institucion]
(
	[ruta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_roles_nombre]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_roles_nombre] ON [dbo].[roles]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_rutas_institucion_id]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_rutas_institucion_id] ON [dbo].[rutas]
(
	[institucion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_usuarios_rol_id]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_usuarios_rol_id] ON [dbo].[usuarios]
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_usuarios_correo_notnull]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_usuarios_correo_notnull] ON [dbo].[usuarios]
(
	[correo] ASC
)
WHERE ([correo] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_viajes_buseta_id]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_viajes_buseta_id] ON [dbo].[viajes]
(
	[buseta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_viajes_ruta_id]    Script Date: 10/11/2025 5:06:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_viajes_ruta_id] ON [dbo].[viajes]
(
	[ruta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bitacora_acciones] ADD  DEFAULT (sysdatetime()) FOR [fecha_accion]
GO
ALTER TABLE [dbo].[busetas] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[localizaciones_busetas] ADD  DEFAULT (sysdatetime()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[rutas] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (sysdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[alertas]  WITH CHECK ADD  CONSTRAINT [FK_alertas_usuarios] FOREIGN KEY([enviado_por])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[alertas] CHECK CONSTRAINT [FK_alertas_usuarios]
GO
ALTER TABLE [dbo].[asignacion_estudiantes_buseta]  WITH CHECK ADD  CONSTRAINT [FK_asignacion_busetas] FOREIGN KEY([id_buseta])
REFERENCES [dbo].[busetas] ([id_buseta])
GO
ALTER TABLE [dbo].[asignacion_estudiantes_buseta] CHECK CONSTRAINT [FK_asignacion_busetas]
GO
ALTER TABLE [dbo].[asignacion_estudiantes_buseta]  WITH CHECK ADD  CONSTRAINT [FK_asignacion_estudiantes] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[asignacion_estudiantes_buseta] CHECK CONSTRAINT [FK_asignacion_estudiantes]
GO
ALTER TABLE [dbo].[asistentes]  WITH CHECK ADD  CONSTRAINT [FK_asistentes_busetas] FOREIGN KEY([id_buseta])
REFERENCES [dbo].[busetas] ([id_buseta])
GO
ALTER TABLE [dbo].[asistentes] CHECK CONSTRAINT [FK_asistentes_busetas]
GO
ALTER TABLE [dbo].[asistentes]  WITH CHECK ADD  CONSTRAINT [FK_asistentes_usuario] FOREIGN KEY([id_asistente])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[asistentes] CHECK CONSTRAINT [FK_asistentes_usuario]
GO
ALTER TABLE [dbo].[bitacora_acciones]  WITH CHECK ADD  CONSTRAINT [FK_bitacora_usuarios] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[bitacora_acciones] CHECK CONSTRAINT [FK_bitacora_usuarios]
GO
ALTER TABLE [dbo].[encargados_legales]  WITH CHECK ADD  CONSTRAINT [FK_encargados_usuario] FOREIGN KEY([id_encargado])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[encargados_legales] CHECK CONSTRAINT [FK_encargados_usuario]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_encargados] FOREIGN KEY([id_encargado])
REFERENCES [dbo].[encargados_legales] ([id_encargado])
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [FK_estudiantes_encargados]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_instituciones] FOREIGN KEY([id_institucion])
REFERENCES [dbo].[instituciones] ([id_institucion])
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [FK_estudiantes_instituciones]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_maestras] FOREIGN KEY([id_maestra])
REFERENCES [dbo].[maestras] ([id_maestra])
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [FK_estudiantes_maestras]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_usuario] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [FK_estudiantes_usuario]
GO
ALTER TABLE [dbo].[horarios]  WITH CHECK ADD  CONSTRAINT [FK_horarios_estudiantes] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[horarios] CHECK CONSTRAINT [FK_horarios_estudiantes]
GO
ALTER TABLE [dbo].[localizaciones_busetas]  WITH CHECK ADD  CONSTRAINT [FK_localizaciones_viajes] FOREIGN KEY([id_viaje])
REFERENCES [dbo].[viajes] ([id_viaje])
GO
ALTER TABLE [dbo].[localizaciones_busetas] CHECK CONSTRAINT [FK_localizaciones_viajes]
GO
ALTER TABLE [dbo].[maestras]  WITH CHECK ADD  CONSTRAINT [FK_maestras_institucion] FOREIGN KEY([id_institucion])
REFERENCES [dbo].[instituciones] ([id_institucion])
GO
ALTER TABLE [dbo].[maestras] CHECK CONSTRAINT [FK_maestras_institucion]
GO
ALTER TABLE [dbo].[maestras]  WITH CHECK ADD  CONSTRAINT [FK_maestras_usuario] FOREIGN KEY([id_maestra])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[maestras] CHECK CONSTRAINT [FK_maestras_usuario]
GO
ALTER TABLE [dbo].[paradas_ruta_casa]  WITH CHECK ADD  CONSTRAINT [FK_paradas_casa_direcciones] FOREIGN KEY([direccion_id])
REFERENCES [dbo].[direcciones] ([id_direccion])
GO
ALTER TABLE [dbo].[paradas_ruta_casa] CHECK CONSTRAINT [FK_paradas_casa_direcciones]
GO
ALTER TABLE [dbo].[paradas_ruta_casa]  WITH CHECK ADD  CONSTRAINT [FK_paradas_casa_estudiantes] FOREIGN KEY([estudiante_id])
REFERENCES [dbo].[estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[paradas_ruta_casa] CHECK CONSTRAINT [FK_paradas_casa_estudiantes]
GO
ALTER TABLE [dbo].[paradas_ruta_casa]  WITH CHECK ADD  CONSTRAINT [FK_paradas_casa_rutas] FOREIGN KEY([ruta_id])
REFERENCES [dbo].[rutas] ([id_ruta])
GO
ALTER TABLE [dbo].[paradas_ruta_casa] CHECK CONSTRAINT [FK_paradas_casa_rutas]
GO
ALTER TABLE [dbo].[paradas_ruta_institucion]  WITH CHECK ADD  CONSTRAINT [FK_paradas_institucion_direcciones] FOREIGN KEY([direccion_id])
REFERENCES [dbo].[direcciones] ([id_direccion])
GO
ALTER TABLE [dbo].[paradas_ruta_institucion] CHECK CONSTRAINT [FK_paradas_institucion_direcciones]
GO
ALTER TABLE [dbo].[paradas_ruta_institucion]  WITH CHECK ADD  CONSTRAINT [FK_paradas_institucion_instituciones] FOREIGN KEY([institucion_id])
REFERENCES [dbo].[instituciones] ([id_institucion])
GO
ALTER TABLE [dbo].[paradas_ruta_institucion] CHECK CONSTRAINT [FK_paradas_institucion_instituciones]
GO
ALTER TABLE [dbo].[paradas_ruta_institucion]  WITH CHECK ADD  CONSTRAINT [FK_paradas_institucion_rutas] FOREIGN KEY([ruta_id])
REFERENCES [dbo].[rutas] ([id_ruta])
GO
ALTER TABLE [dbo].[paradas_ruta_institucion] CHECK CONSTRAINT [FK_paradas_institucion_rutas]
GO
ALTER TABLE [dbo].[rutas]  WITH CHECK ADD  CONSTRAINT [FK_rutas_instituciones] FOREIGN KEY([institucion_id])
REFERENCES [dbo].[instituciones] ([id_institucion])
GO
ALTER TABLE [dbo].[rutas] CHECK CONSTRAINT [FK_rutas_instituciones]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_roles] FOREIGN KEY([rol_id])
REFERENCES [dbo].[roles] ([rol_id])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_roles]
GO
ALTER TABLE [dbo].[viajes]  WITH CHECK ADD  CONSTRAINT [FK_viajes_busetas] FOREIGN KEY([buseta_id])
REFERENCES [dbo].[busetas] ([id_buseta])
GO
ALTER TABLE [dbo].[viajes] CHECK CONSTRAINT [FK_viajes_busetas]
GO
ALTER TABLE [dbo].[viajes]  WITH CHECK ADD  CONSTRAINT [FK_viajes_rutas] FOREIGN KEY([ruta_id])
REFERENCES [dbo].[rutas] ([id_ruta])
GO
ALTER TABLE [dbo].[viajes] CHECK CONSTRAINT [FK_viajes_rutas]
GO
ALTER TABLE [dbo].[busetas]  WITH CHECK ADD  CONSTRAINT [CK_busetas_capacidad_pos] CHECK  (([capacidad]>(0)))
GO
ALTER TABLE [dbo].[busetas] CHECK CONSTRAINT [CK_busetas_capacidad_pos]
GO
ALTER TABLE [dbo].[direcciones]  WITH CHECK ADD  CONSTRAINT [CK_direcciones_lat] CHECK  (([latitud]>=(-90) AND [latitud]<=(90)))
GO
ALTER TABLE [dbo].[direcciones] CHECK CONSTRAINT [CK_direcciones_lat]
GO
ALTER TABLE [dbo].[direcciones]  WITH CHECK ADD  CONSTRAINT [CK_direcciones_lon] CHECK  (([longitud]>=(-180) AND [longitud]<=(180)))
GO
ALTER TABLE [dbo].[direcciones] CHECK CONSTRAINT [CK_direcciones_lon]
GO
ALTER TABLE [dbo].[localizaciones_busetas]  WITH CHECK ADD  CONSTRAINT [CK_locbus_lat] CHECK  (([latitud]>=(-90) AND [latitud]<=(90)))
GO
ALTER TABLE [dbo].[localizaciones_busetas] CHECK CONSTRAINT [CK_locbus_lat]
GO
ALTER TABLE [dbo].[localizaciones_busetas]  WITH CHECK ADD  CONSTRAINT [CK_locbus_lon] CHECK  (([longitud]>=(-180) AND [longitud]<=(180)))
GO
ALTER TABLE [dbo].[localizaciones_busetas] CHECK CONSTRAINT [CK_locbus_lon]
GO
ALTER TABLE [dbo].[rutas]  WITH CHECK ADD  CONSTRAINT [CK_rutas_tipo] CHECK  (([tipo]=N'vuelta' OR [tipo]=N'ida'))
GO
ALTER TABLE [dbo].[rutas] CHECK CONSTRAINT [CK_rutas_tipo]
GO
/****** Object:  StoredProcedure [dbo].[sp_encargados_legales_lookup]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Encargados legales (IdUsuario + NombreCompleto)
CREATE   PROCEDURE [dbo].[sp_encargados_legales_lookup]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT 
    el.id_encargado AS IdUsuario,
    u.nombre + N' ' + u.primer_apellido + ISNULL(N' ' + u.segundo_apellido, N'') AS NombreCompleto
  FROM encargados_legales el
  JOIN usuarios u ON u.id_usuario = el.id_encargado
  ORDER BY u.nombre, u.primer_apellido;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_estudiantes_crear]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_estudiantes_crear]
(
    @Nombre          NVARCHAR(100),
    @PrimerApellido  NVARCHAR(100),
    @SegundoApellido NVARCHAR(100) = NULL,
    @Activo          BIT,
    @IdEncargado     INT,
    @IdInstitucion   INT,
    @Seccion         NVARCHAR(50) = NULL,
    @IdMaestra       INT,
    @Telefono        NVARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RolId INT;

    -- Obtén el rol para Estudiante
    SELECT @RolId = r.rol_id
    FROM roles r
    WHERE r.nombre = N'Estudiante';

    IF (@RolId IS NULL)
    BEGIN
        THROW 51000, 'No existe el rol "Estudiante" en la tabla roles.', 1;
    END

    -- Inserta el usuario base
    INSERT INTO usuarios (rol_id, nombre, primer_apellido, segundo_apellido, contrasena_hash, activo)
    OUTPUT INSERTED.id_usuario
    VALUES (@RolId, @Nombre, @PrimerApellido, @SegundoApellido, N'__PENDIENTE__', @Activo);

    DECLARE @NewUserId INT = SCOPE_IDENTITY();

    -- Inserta la fila del subtipo estudiante con el nuevo campo teléfono
    INSERT INTO estudiantes (id_estudiante, id_encargado, id_institucion, seccion, id_maestra, telefono)
    VALUES (@NewUserId, @IdEncargado, @IdInstitucion, @Seccion, @IdMaestra, @Telefono);

    -- Devuelve el nuevo Id
    SELECT @NewUserId AS Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_estudiantes_listar]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_estudiantes_listar]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        e.id_estudiante AS Id,
        u.nombre + N' ' + u.primer_apellido + ISNULL(N' ' + u.segundo_apellido, N'') AS NombreCompletoEstudiante,
        e.seccion AS Seccion,
        i.nombre AS Institucion,
        um.nombre + N' ' + um.primer_apellido + ISNULL(N' ' + um.segundo_apellido, N'') AS Maestra,
        ue.nombre + N' ' + ue.primer_apellido + ISNULL(N' ' + ue.segundo_apellido, N'') AS Encargado,
        u.activo AS Activo,
        e.telefono AS Telefono
    FROM estudiantes e
    INNER JOIN usuarios u   ON u.id_usuario = e.id_estudiante
    INNER JOIN instituciones i ON i.id_institucion = e.id_institucion
    INNER JOIN maestras m   ON m.id_maestra = e.id_maestra
    INNER JOIN usuarios um  ON um.id_usuario = m.id_maestra
    INNER JOIN encargados_legales en ON en.id_encargado = e.id_encargado
    INNER JOIN usuarios ue  ON ue.id_usuario = en.id_encargado
    WHERE u.eliminado = 0
    ORDER BY u.nombre, u.primer_apellido;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_estudiantes_obtener]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_estudiantes_obtener]
(
    @Id INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.id_usuario       AS Id,
        u.nombre           AS Nombre,
        u.primer_apellido  AS PrimerApellido,
        u.segundo_apellido AS SegundoApellido,
        u.activo           AS Activo,
        e.id_encargado     AS IdEncargado,
        e.id_institucion   AS IdInstitucion,
        e.seccion          AS Seccion,
        e.id_maestra       AS IdMaestra,
        e.telefono         AS Telefono
    FROM dbo.usuarios      AS u
    INNER JOIN dbo.estudiantes AS e
        ON e.id_estudiante = u.id_usuario
    WHERE u.id_usuario = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_instituciones_lookup]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Instituciones (Id + Nombre)
CREATE   PROCEDURE [dbo].[sp_instituciones_lookup]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT 
    i.id_institucion AS IdInstitucion,
    i.nombre AS Nombre
  FROM instituciones i
  ORDER BY i.nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_maestras_lookup]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Maestras (IdUsuario + NombreCompleto)
CREATE   PROCEDURE [dbo].[sp_maestras_lookup]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT 
    m.id_maestra AS IdUsuario,
    u.nombre + N' ' + u.primer_apellido + ISNULL(N' ' + u.segundo_apellido, N'') AS NombreCompleto
  FROM maestras m
  JOIN usuarios u ON u.id_usuario = m.id_maestra
  ORDER BY u.nombre, u.primer_apellido;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_usuarios_actualizar_estado_activo]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_usuarios_actualizar_estado_activo]
(
    @IdUsuario INT,
    @Activo BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.usuarios WHERE id_usuario = @IdUsuario AND eliminado = 0)
    BEGIN
        RAISERROR('El usuario no existe o está eliminado.', 16, 1);
        RETURN;
    END;

    UPDATE dbo.usuarios
    SET activo = @Activo
    WHERE id_usuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_usuarios_eliminar_logico]    Script Date: 10/11/2025 5:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_usuarios_eliminar_logico]
(
    @IdUsuario INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar que el usuario exista y no esté ya eliminado
    IF NOT EXISTS (SELECT 1 FROM dbo.usuarios WHERE id_usuario = @IdUsuario AND eliminado = 0)
    BEGIN
        RAISERROR('El usuario no existe o ya fue eliminado.', 16, 1);
        RETURN;
    END;

    BEGIN TRY
        BEGIN TRAN;

        -- Marcar como eliminado
        UPDATE dbo.usuarios
        SET eliminado = 1,
            activo = 0
        WHERE id_usuario = @IdUsuario;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
USE [master]
GO
