@{
    ViewData["Title"] = "Recuperar Contraseña";
    Layout = "_LayoutExterno";
}

<div class="login-card">
    <div class="login-header">
        <h2>TRANSPORTE ESCOLAR MANÁ</h2>
    </div>
    <div class="login-body">
        <h3>¿Olvidaste tu contraseña? 🔐</h3>
        <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecerla.</p>

        <form class="login-form" action="/send-reset-link" method="POST">
            <input type="email" placeholder="Correo electrónico" name="email" required />
            <button type="submit"> <a href="reset-password.html">Enviar enlace de recuperación</a></button>
        </form>
        <p class="back-login">
            <a href="login.html">← Volver al inicio de sesión</a>
        </p>
    </div>
</div>