@{
    ViewData["Title"] = "Registrarse";
    Layout = "_LayoutExterno";
}

<div class="login-card">
    <div class="login-header">
        <h2>TRANSPORTE ESCOLAR MANÁ</h2>
    </div>
    <div class="login-body">
        <h3>¡Hola! 🚌 👋</h3>
        <p>Por favor, Registrate en la plataforma.</p>

        <form class="login-form">

            <input type="text" placeholder="Nombre completo" required />

            <input type="text" placeholder="Nombre de usuario" required />

            <input type="text" placeholder="Número de teléfono" required />

            <input type="text" placeholder="Número de Cédula" required />
            <input type="email" placeholder="Correo electrónico" required />

            <input type="password" placeholder="Contraseña" required />

            <div class="remember-section">
                <input type="checkbox" id="remember" />
                <label for="remember">Recuérdame</label>
            </div>
            <button type="submit">Registrarse</button>
        </form>

        <!-- Password recovery link -->
        <p class="forgot-password">
            <a asp-controller="Home" asp-action="RecoverPassword">¿Olvidaste tu contraseña?</a>
        </p>
        <p class="forgot-password">
            <a asp-controller="Home" asp-action="Index">Iniciar Sesión</a>
        </p>
    </div>
</div>

<div class="login-info">
    <img src="https://cdn-icons-png.flaticon.com/512/0/308.png" alt="Bus illustration" />
    <h2>Organiza tu <br /> transporte escolar</h2>
    <p>Gestiona rutas, horarios y puntos de abordaje de forma rápida y segura.</p>
</div>