@{
    ViewData["Title"] = "Restablecer Contraseña";
    Layout = "_LayoutExterno";
}

<div class="login-container">

    <div class="background-blur"></div>

  
    <div class="login-card shadow-lg">
  
        <div class="login-left">
            <h2 class="brand-title">TRANSPORTE ESCOLAR MANÁ</h2>
            <h3>Restablece tu contraseña 🔐</h3>
            <p>Ingresa tu nueva contraseña para recuperar el acceso a tu cuenta.</p>
            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-danger text-center">
                    @ViewBag.Mensaje
                </div>
            }

            <form class="login-form" method="POST" asp-action="ActualizarPassword" asp-controller="Home">
                @Html.AntiForgeryToken()
                <input type="hidden" name="token" value="@ViewBag.Token" />
                <input type="password" name="new_password" placeholder="Nueva contraseña" required />
                <input type="password" name="confirm_password" placeholder="Confirmar contraseña" required />
                <button type="submit" class="btn-login">Actualizar contraseña</button>
            </form>


            <p class="back-login">
                <a asp-action="Index" asp-controller="Home">← Volver al inicio de sesión</a>
            </p>
        </div>

        <div class="login-right">
            <div class="overlay"></div>
            <div class="info-text">
                <h2>Tu seguridad es importante</h2>
                <p>Elige una contraseña segura y única para mantener tu cuenta protegida.</p>
            </div>
        </div>
    </div>
</div>
